{% load static %}



  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/jquery-migrate-3.0.0.js' %}"></script>
	<script src="{% static 'js/jquery-ui.min.js"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/colors.js' %}"></script>
	<script src="{% static 'js/slicknav.min.js' %}"></script>
	<script src="{% static 'js/owl-carousel.js' %}"></script>
	<script src="{% static 'js/magnific-popup.js' %}"></script>
	<script src="{% static 'js/waypoints.min.js' %}"></script>
	<script src="{% static 'js/finalcountdown.min.js' %}"></script>
	<script src="{% static 'js/nicesellect.js' %}"></script>
	<script src="{% static 'js/flex-slider.js' %}"></script>
	<script src="{% static 'js/scrollup.js' %}"></script>
	<script src="{% static 'js/onepage-nav.min.js' %}"></script>
	<script src="{% static 'js/easing.js' %}"></script>
	<script src="{% static 'js/active.js' %}"></script>