{% extends 'base.html' %}
{% load crispy_forms_tags %}



{% block content %}

  
	<!-- Start Contact -->
	<section id="contact-us" class="contact-us section">
		<div class="container">
				<div class="contact-head">
					<div class="row">
						<div class="col-lg-8 col-12">
							<div class="form-main">
								<div class="title">
									<h4>CONTACT</h4>
									<h3>Write us a message</h3>
								</div>
								<form class="form" method="post" >
									{% csrf_token %}
									<!-- <div class="row">
										<div class="col-lg-6 col-12">
											<div class="form-group">
												<label>Name<span>*</span></label>
												<input name="name" type="text" placeholder="Your Name">
											</div>
										</div>
									
										<div class="col-lg-6 col-12">
											<div class="form-group">
												<label>Email<span>*</span></label>
												<input name="email" type="email" placeholder="@gmail.com">
											</div>	
										</div>
									
										<div class="col-12">
											<div class="form-group message">
												<label>Message<span>*</span></label>
												<textarea name="message" placeholder="Text.."></textarea>
											</div>
										</div>
										<div class="col-12">
											<div class="form-group button" >
												<button  style="width:650px;" type="submit" class="btn ">Send Message</button>
											</div>
										</div>
									</div> -->
									{{form|crispy}}
									<div class="col-12">
										<div class="form-group button" >
											<button  style="width:650px;" type="submit" class="btn ">Send Message</button>
										</div>
									</div>
								
								</form>
							</div>
						</div>
						<div class="col-lg-4 col-12">
							<div class="single-head">
								<div class="single-info">
									<i class="fa fa-phone"></i>
									<h4 class="title">Call us Now:</h4>
									<ul>
										<li>+1234567890</li>
										<li>+1234567890</li>
									</ul>
								</div>
								<div class="single-info">
									<i class="fa fa-envelope-open"></i>
									<h4 class="title">Email:</h4>
									<ul>
										<li><a href="mailto:info@yourwebsite.com">info@yourwebsite.com</a></li>
										<li><a href="mailto:info@yourwebsite.com">support@yourwebsite.com</a></li>
									</ul>
								</div>
								<div class="single-info">
									<i class="fa fa-location-arrow"></i>
									<h4 class="title">Our Address:</h4>
									<ul>
										<li>KA-62/1, Travel Agency, 45 Grand Central Terminal, New York.</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</section>
	<!--/ End Contact -->
	
	{% endblock content %}
