{% load static %}

<!-- Start Footer Area -->
	<footer class="footer">






		<!-- Footer Top -->
		<div class="footer-top section">


			
			<!-- Start Shop Services Area -->
	<!-- <section class="shop-services section home">
		<div class="container">
		
		</div>
	</section> -->
	<!-- End Shop Services Area -->












			<div class="container">

				<div class="row">
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="ti-rocket"></i>
							<h4>Free shiping</h4>
							<p>Orders over $100</p>
						</div>
						<!-- End Single Service -->
					</div>


					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="ti-reload"></i>
							<h4>Free Return</h4>
							<p>Within 30 days returns</p>
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="ti-lock"></i>
							<h4>Secure Payment</h4>
							<p>100% secure payment</p>
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="ti-tag"></i>
							<h4>Best Price</h4>
							<p>Guaranteed price</p>
						</div>
						<!-- End Single Service -->
					</div>
				</div>

				<br>
				<hr>
				<br>				


				<div class="row">

					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-footer about">
							<div class="logo">
								<a href="index.html"><img src="{% static 'images/logo2.png' %}" alt="#"></a>
							</div>
							<p class="text"></p>
							<!-- <p class="call">Got Question? Call us 24/7<span><a href="tel:123456789">+0123 456 789</a></span></p> -->
						</div>
					</div>

					<div class="col-lg-3 col-md-6 col-12">

						
					</div>
					
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer links">
							<h4>BUSINESS HOURS</h4>
							<ul>
								<li style="color: white;"> <strong>Monday to Friday</strong><br>
									<small>9 AM to 9 PM</small></li>
								<li style="color: white;"> <strong>Saturday</strong><br>
									<small>9 AM to 5 PM</small></li>
								<li style="color: white;"> <strong>Vacation</strong><br>
									<small>All Sundays</small>
									<small>All Official Holidays</small>
								</li>
							</ul>
						</div>
						<!-- End Single Widget -->
					</div>

				

					<div class="col-lg-3 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer social">
							<h4>Get In Touch</h4>
							<!-- Single Widget -->
							<div class="contact">
								<ul>
									<li>NO. 342 - London Oxford Street.</li>
									<li>012 United Kingdom.</li>
									<li>info@eshop.com</li>
									<li>+032 3456 7890</li>
								</ul>
							</div>
							<!-- End Single Widget -->
							<ul>
								<li><a href="#"><i class="ti-facebook"></i></a></li>
								<li><a href="#"><i class="ti-twitter"></i></a></li>
								<li><a href="#"><i class="ti-flickr"></i></a></li>
								<li><a href="#"><i class="ti-instagram"></i></a></li>
							</ul>
						</div>
						<!-- End Single Widget -->
					</div>


				</div>
			</div>
		</div>
		<!-- End Footer Top -->
		<div class="copyright">
			<div class="container">
				<div class="inner">
					<div class="row">
						<div class="col-lg-6 col-12">
							<div class="left">
								<p>Copyright © 2020 <a href="http://www.wpthemesgrid.com" target="_blank">Wpthemesgrid</a>  -  All Rights Reserved.</p>
							</div>
						</div>
						<div class="col-lg-6 col-12">
							<div class="right">
								<img src="{% static 'images/payments.png' %}" alt="#">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- /End Footer Area -->