{% extends 'base.html' %}
{% load static %}




{% block content %}
    

	<!-- Slider Area -->
	<section class="hero-slider" style="background-image: url('https://www.pexels.com/photo/black-and-blue-sports-bike-40904/');">
		<!-- Single Slider -->
		<div class="single-slider"  style="background-image: url('https://www.pexels.com/photo/black-and-blue-sports-bike-40904/');">
			<div class="container">
				<div class="row no-gutters"  style="background-image: url('https://www.pexels.com/photo/black-and-blue-sports-bike-40904/');">
					<div class="col-lg-9 offset-lg-3 col-12">
						<div class="text-inner">
							<div class="row">
								<div class="col-lg-7 col-12">
									<div class="hero-text">
										<h1><span>UP TO 20% OFF </span>Bikes For Men</h1>
										<p>Life is like riding a bicycle- in order to keep your balance, you must keep moving</p>
										<div class="button">
											<a href="{% url 'shop'%}" class="btn">Shop Now!</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Single Slider -->
	</section>
	<!--/ End Slider Area -->
	
	<!-- Start Small Banner  -->
	<section class="small-banner section">
		<div class="container-fluid">
			<div class="row">
				<!-- Single Banner  -->
				<div class="col-lg-4 col-md-6 col-12">
					<div class="single-banner">
						<a href="{% url 'shop'%}">
							<img style="height:370px !important; width:600px !important;" src="{% static 'images/orange-and-black-bmw-motorcycle-before-concrete-wall-104842.jpg' %}" alt="#">
						</a>
						<div class="content">
							<p>Trending</p>
							<h3>Womens collection</h3>
							<a href="{% url 'shop'%}" style="color:#FF0000;">Discover Now</a>
						</div>
					</div>
				</div>
				<!-- /End Single Banner  -->
				<!-- Single Banner  -->
				<div class="col-lg-4 col-md-6 col-12">
					<div class="single-banner">
						<a href="{% url 'shop'%}">
							<img style="height:370px !important; width:600px !important;" src="{% static 'images/enfield.jpg' %}" alt="#">
						</a>
						<div class="content">
							<p>Whats New?</p>
							<h3>Kids Bikes</h3>
							<a href="{% url 'shop'%}" style="color:#FF0000;">Shop Now</a>
						</div>
					</div>
				</div>
				<!-- /End Single Banner  -->
				<!-- Single Banner  -->
				<div class="col-lg-4 col-12">
					<div class="single-banner tab-height">

						<a href="{% url 'shop'%}">
							<img style="height:370px !important; width:600px !important;" src="{% static 'images/motorcycle-258092.jpg' %}" alt="#">
						</a>

						<div class="content">
							<p>Flash Sale</p>
							<h3>Mid Season <br> Up to <span>40%</span> Off</h3>
							<a href="{% url 'shop'%}" style="color:#FF0000;">Discover Now</a>
						</div>
					</div>
				</div>
				<!-- /End Single Banner  -->
			</div>
		</div>
	</section>
	<!-- End Small Banner -->



		<!-- Start Most Popular -->
		<div class="product-area most-popular section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="section-title">
							<h2>Trending</h2>
						</div>
					</div>
				</div> 
				<div class="row">
					<div class="col-12">
						<div class="owl-carousel popular-slider">
							<!-- Start Single Product -->
							{% for item in items %}
								<div class="single-product">
								<div class="product-img">
									<a href="{% url 'product_detail' item.slug %} ">
										<img class="default-img" style="height:300px !important; width:450px !important;" src="{{item.image.url}}" alt="#">
										<img class="hover-img" style="height:300px !important; width:450px !important;" src="{{item.image.url}}" alt="#">
										<!-- <span class="out-of-stock">Hot</span> -->
										<h3 style="font-size:14px;font-weight:500;margin:0;margin-bottom:5px;">{{item.title}}</h3>
										<h3 style="font-size:14px;font-weight:500;margin:0;">${{item.price}}</h3>
									</a>
								</div>
								</div>
							{% endfor %}
							<!-- End Single Product -->					
			
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Most Popular Area -->
		
	
<br>    
<br>    
<br>    
<br>    

	



{% endblock content %}
    