{% extends 'base.html' %} {% block extra_styles %}
{% load cart_template_tags %}
<!-- <style>

ul.pagination li{
	font-size: 25px !important;
	color : white !important;
	background-color: black !important;
}


ul.pagination  {
	background-color: black;
}

</style> -->

<style>
    .pagination {
        display: inline !important;
    }

    .pagination a {
        color: black !important ;
        float: left !important;
        padding: 8px 16px !important;
        text-decoration: none !important;
    }

    .pagination a.active {
        background-color: black !important;
        color: white !important;
    }

    .pagination a:hover:not(.active) {
        background-color: #ddd;
    }


    .dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
</style>

{% endblock extra_styles %} {% block content %}

<!-- Breadcrumbs -->
<!-- <div class="breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="bread-inner">
							<ul class="bread-list">
								<li><a href="index1.html">Home<i class="ti-arrow-right"></i></a></li>
								<li class="active"><a href="blog-single.html">Shop Grid</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div> -->
<!-- End Breadcrumbs -->
<form action="{% url 'shop'%}" method="GET">

<!-- Product Style -->
<section class="product-area shop-sidebar shop section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-12">
                <div class="shop-sidebar">
                    <!-- Single Widget -->
                    <div class="single-widget category">
                        <h3 class="title">Categories</h3>
                        <ul class="categor-list">
                            {% for category in categories %}

                            <li><input
                                {% if category.name in filtered_categories %}
                                    checked
                                {% endif %}  
                                  
                                   name="category" value="{{category.name}}" type="checkbox" onchange="this.form.submit()"><span>    {{category.name}}</span>
                              </li>


                            {% endfor %}



                        </ul>
                    </div>
					<!--/ End Single Widget -->

					 <!-- Single Widget -->
					 <div class="single-widget category">
                        <h3 class="title">Shop by Color</h3>
                        <ul class="categor-list">
                            {% for color in colors %}
                            <li><input
                              {% if color.color__color_name in filtered_colors %}
                                  checked
                              {% endif %}  
                                
                                 name="color" value="{{color.color__color_name}}" type="checkbox" onchange="this.form.submit()">                   <span class="dot" style="background-color:{{color.color__color_name}};"></span><span>    {{color.color__color_name}}</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!--/ End Single Widget -->
					


                    <!-- Shop By Price -->
                    <div class="single-widget range">
                        <h3 class="title">Shop by Price</h3>
                        <!-- <div class="price-filter">
                            <div class="price-filter-inner">
                                <div id="slider-range"></div>
                                <div class="price_slider_amount">
                                    <div class="label-input"><span>Range:</span><input type="text" id="amount" name="price" placeholder="Add Your Price" /></div>

                                </div>
                            </div>
                        </div> -->
                        <ul class="check-box-list">
                       
<!-- 
                            <li><input
                                {% if price in filtered_price %}
                                    checked
                                {% endif %}  
                                  
                                   name="price" value="500" type="checkbox" onchange="this.form.submit()">                   <span>$0 - $500</span>
                              </li>

                              <li><input
                                {% if price in filtered_price %}
                                    checked
                                {% endif %}  
                                  
                                   name="price" value="1000" type="checkbox" onchange="this.form.submit()">                   <span>$500 - $1000</span>
                              </li> -->

                              <li>
                                  <span> $ <input name="lower" value="{{lower}}" style="width:60px;" type="number"></span>
                                  -   
                                  <span> $ <input name="upper" style="width:60px;" value="{{upper}}" type="number"></span>
                              </li>
                      <br>
                              <li class="text-center">
                                  <input  type="submit"  value="search" class="btn"/>
                              </li>
                        </ul>
                    </div>
                    <!--/ End Shop By Price -->
                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-12">
                <div class="row">
                    <div class="col-12">
                        <!-- Shop Top -->

                        <div class="col-lg-12 col-md-12 col-12">
                            <div class="search-bar-top">
                                <div class="search-bar">
                                        <input style="width: 700px; " name="search" placeholder="Search Products Here....." type="search" value="{{search}}">

                                           <button  onclick="this.form.submit()" class="btn"><i class="ti-search"></i></button>
                                </div>
                            </div>
                        </div>

                    
                            <div class="shop-top">
                                <div class="shop-shorter">
                                    <div class="single-shorter">
                                        <label>Show :</label>

                                        <select name="number" onchange="this.form.submit()">
                                            <option 
                                            {% if number == 9 %}selected="selected"{% endif %}>9</option>
                                            <option {% if number == 18 %}selected="selected"{% endif %}>18</option>
                                       
                                        </select>
                                    </div>
                                    <div class="single-shorter">
                                        <label>Sort By :</label>
                                        <select name="sort-by" onchange="this.form.submit()">
                                            <option  {% if sort_by == 'title' %}selected="selected"{% endif %}>Name</option>
                                            <option {% if sort_by == 'price' %}selected="selected"{% endif %}>Price</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        <!--/ End Shop Top -->
                    </div>
                </div>

            </form>



                <div class="row">
                    {% for item in items %}

                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-product">
                            <div class="product-img" style="max-height: 200px;">
                                <a href="{{ item.get_absolute_url }}">
                                    <img style="height: 200px;" class="img-thumbnail" src="{{item.image.url}}" alt="#" />
                                    <!-- <img class="hover-img" src="https://via.placeholder.com/270x270" alt="#"> -->
                                </a>
                                <div class="button-head">
                                    <div class="product-action">
                                        <a href="{{item.get_add_to_cart_url_from_shop}}"><i class="ti-shopping-cart" style="{% if request.user|is_item_in_cart:item %}color:red;{% endif %}"></i><span>Add to Cart</span></a>
                                        <!-- <a data-toggle="modal" data-target="#exampleModal" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a> -->
                                        <a href="{{ item.get_add_to_wishlist_url }}"><i class="ti-heart" style="{% if request.user|is_item_in_wishlist:item.id %}color:red;{% endif %}"></i><span>Add to Wishlist</span></a>
                                        <a href="{{ item.get_add_to_compare_url }}"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                                    </div>
                                    <div class="product-action-2">
                                        <a title="Add to cart" href="#"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3><a href="{{item.get_absolute_url}}">{{item.title}}</a></h3>
                                <div class="product-price">
                                   
                                    <span>${{item.price}}</span>

                                   
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </div>
            </div>
        </div>


		<br>
		<br>
        <div class="row"> 
            <div class="col-md-6 offset-md-5 text-center">
                {% if items.has_other_pages %}
                <div class="pagination text-center">
                    {% if items.has_previous %}
                    <a href="?page={{ items.previous_page_number }}" onclick="addSearchQuery(event)" class="paginationLink">&laquo;</a>
                    {% else %}
                    <a>&laquo;</a>
                    {% endif %} {% for i in items.paginator.page_range %} {% if items.number == i %}
                    <a class="active">{{ i }}</a>
                    {% else %}
                    <a href="?page={{ i }}" class="paginationLink" onclick="addSearchQuery(event)">{{ i }}</a>
                    {% endif %} {% endfor %} {% if items.has_next %}
                    <a href="?page={{ items.next_page_number }}" onclick="addSearchQuery(event)" class="paginationLink">&raquo;</a>
                    {% else %}
                    <a>&raquo;</a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<!--/ End Product Style 1  -->

<script>
    function addSearchQuery(event){
        if(window.location.search){
            if(window.location.search.slice(1,5) == 'page'){
               var a = window.location.search.split('&')
                if(a.length !== 1){
                  a.shift()
                  a.join('&')
                  var newURL = event.target.href + '&' + a
               }
            }
            else{
                var a = window.location.search.slice(1,)
                var newURL = event.target.href + '&' + a
            }
            event.target.href = newURL
        }
        
    }    
</script>

{% endblock content %}
